<?xml version="1.0"?>
<!--
/**
 * Bippo
 * JQuery module 
 *
 * @category   jquery
 * @package    bippojquery
 * @copyright  Copyright (c) 2011 Bippo.co.id
 */
-->

<config>
    <modules>
        <Bippo_JQuery>
            <version>1.0.0</version>
        </Bippo_JQuery>
    </modules>
    <global>
        <models/>
            
        <blocks/>
            
        <helpers/>
          
    </global>
        
    <default/>
    <frontend>
        <layout>
            <updates>
                <bippojquery>
                    <file>bippojquery.xml</file>
                </bippojquery>
            </updates>
        </layout>
        
    </frontend>

</config>
